@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="List" class="btn btn-primary">Overview</a>
    <a asp-controller="Home" asp-action="CreateList" class="btn btn-success">Create New Item</a>
</div>
